---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Navigation from '~/components/navigation/navigation.astro';
import Gallery from '../../components/gallery/imageGallery.astro';
import PropertyInfo from '~/components/property/PropertyInfo.astro';

import { getProperties } from '../../lib/data/properties';
import type { Property } from '~/types/property';

import PropertyDetails from '~/components/property/PropertyDetails.astro';
import PropertyAdditionalInfo from '~/components/property/PropertyAdditionalInfo.astro';
import PropertyHero from '~/components/property/PropertyHero.astro';

// Type-safe props
interface Props {
  property: Property;
}

// Get data from getStaticPaths
const { property }: Props = Astro.props;

export async function getStaticPaths() {
  // Load all properties at once
  const properties = await getProperties();

  return properties.map((property: Property) => ({
    params: { slug: property.slug },
    // Give data into page
    props: { property },
  }));
}
---

<BaseLayout>
  <header class='px-4 md:px-8 max-w-7xl mx-auto'>
    <Navigation />
  </header>
  <main class='px-4 md:px-8 max-w-7xl mx-auto'>
    <Gallery {...property} />
    <div class='flex flex-col gap-4 py-8'>
      <PropertyHero {...property} />
      <PropertyInfo {...property} />
      <PropertyDetails {...property} />
      <PropertyAdditionalInfo {...property} />
    </div>
  </main>
</BaseLayout>
