@import 'tailwindcss';

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope.ttf') format('truetype');
  font-weight: 400 900;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: 400 900;
}

:root {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-head: 'Manrope', system-ui, sans-serif;

  --white: #f5f5f5;
  --black: #303030;
  --gray: #4b4b4b;
  --light-gray: #aaaaaa;

  --test: red;
}

body {
  font-family: var(--font-sans);
  color: var(--black);
  background-color: var(--white);
}

@layer utilities {
  .line-clamp-h1 {
    font-size: clamp(3.125rem, 3.464vw + 2.229rem, 5rem);
    line-height: clamp(4.688rem, 3.349vw + 3.821rem, 6.5rem);
  }
}
