---
const property = Astro.props;
---

<div class='flex items-center gap-4 text-sm'>
  <a href='/nemovitosti' class='text-[var(--light-gray)]'>Nemovitosti</a>
  <span>/</span>
  <p class='font-semibold'>{property.title}</p>
</div>
