---
import '../styles/global.css';
---

<html lang='cs'>
  <head>
    <meta charset='UTF-8' />
    <title>Horizon | Real Estate</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body class='bg-gray-50 min-h-screen'>
    <slot />
  </body>
</html>
