---
const property = Astro.props;
---

<div class='pb-8'>
  <h2 class='text-2xl font-bold py-2'>Detaily o nemovitosti</h2>
  <div class='flex flex-col gap-4 md:gap-2'>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Užitná plocha</p>
        <p>85 m²</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Počet pokojů</p>
        <p>3</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Podlaží</p>
        <p>2. patro ze 4</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Výtah</p>
        <p>Ano</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Vytápění</p>
        <p>Podlahové topení</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Vybavení</p>
        <p>Částečně vybaveno</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Balkon / Terasa</p>
        <p>Ano</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Sklep</p>
        <p>Ano</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Garáž / Parkování</p>
        <p>Garážové stání</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Stav nemovitosti</p>
        <p>Po rekonstrukci</p>
      </div>
    </div>
  </div>
</div>
