---
const property = Astro.props;

import { formatPrice } from '~/lib/helpers/formatPrice';
---

<div
  class='flex flex-col md:flex-row md:flex-1/2 gap-8 md:gap-12 lg:gap-32 justify-between w-full pb-8'
>
  <div class='flex flex-col flex-1/2 gap-8'>
    <div class='flex justify-between'>
      <h2 class='text-2xl font-semibold'>Cena</h2>
      <p class='text-2xl font-semibold'>
        {formatPrice(property.price)}
      </p>
    </div>
    <a href='#'>
      <button
        class='w-full text-sm lg:text-base px-8 py-4 rounded-xl bg-[var(--black)] hover:bg-black text-gray-50 cursor-pointer duration-200 ease-in-out'
        >Domluvit schůzku</button
      >
    </a>
  </div>
</div>
