---
const property = Astro.props;

import House from '../../assets/house.svg';
---

<h2 class='text-2xl font-bold py-2'>Doplňující informace</h2>
<p>
  Mezonet se nachází ve velmi klidné části města, ale zároveň v docházkové
  vzdálenosti od centra Plattlingu. V bezprostřední blízkosti najdete školku,
  obchod i vlakové nádraží s přímým spojením do Mnichova. Byt je ideální pro
  rodiny s dětmi díky odděleným zónám na spaní a odpočinek. Součástí domu je i
  společná zahrada, kterou mohou obyvatelé volně využívat.
</p>
