---
const property = Astro.props;
---

<div class='pb-8'>
  <h2 class='text-2xl font-bold py-2'>Informace o nemovitosti</h2>
  <div class='flex flex-col gap-4 md:gap-2'>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Typ nemovitosti</p>
        <p>Byt</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Typ nabídky</p>
        <p>Prodej</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Dostupnost</p>
        <p>Na dotaz</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Dispozice</p>
        <p>3+kk, mezonet</p>
      </div>
    </div>
    <div class='flex flex-wrap gap-4 md:gap-8 lg:gap-32'>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Konstrukce budovy</p>
        <p>Cihla / Panel</p>
      </div>
      <div class='flex md:flex-2 justify-between w-full py-2'>
        <p>Rok výstavby / Rok rekonstrukce</p>
        <p>2010 / 2021</p>
      </div>
    </div>
  </div>
</div>
