---
const property = Astro.props;
---

<div class='pb-8'>
  <h2 class='text-2xl font-semibold'>Detaily o nemovitosti</h2>
  <div class='flex flex-wrap gap-8'>
    <div class='flex flex-2 justify-between w-full'>
      <p>Typ nemovitosti</p>
      <p>Byt</p>
    </div>
    <div class='flex flex-2 justify-between w-full'>
      <p>Typ nemovitosti</p>
      <p>Byt</p>
    </div>
  </div>
  <div class='flex flex-wrap gap-8'>
    <div class='flex flex-2 justify-between w-full'>
      <p>Typ nemovitosti</p>
      <p>Byt</p>
    </div>
    <div class='flex flex-2 justify-between w-full'>
      <p>Typ nemovitosti</p>
      <p>Byt</p>
    </div>
  </div>
</div>
