---
import IndexReact from '../reactPages/index/indexReact';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '~/components/hero/hero.astro';
---

<BaseLayout>
  <Hero />
  <main class='p-16 mx-auto'>
    <div class='grid'>
      <IndexReact client:only='react' />
    </div>
  </main>
</BaseLayout>
