<div class='hero flex flex-col items-center justify-center py-32'>
  <h1 class='text-6xl text-center font-semibold leading-20'>
    Prozkoumejte naši exkluzivní<br />nabídku nemovitostí
  </h1>
  <p class='my-8 text-zinc-500 text-center'>
    Prohlédněte si pečlivě vybrané byty a domy podle vašich představ.
    <br />Najděte vysněné bydlení, investici nebo pronájem ještě dnes.
  </p>
</div>
