<div class='hero flex flex-col items-center justify-center pt-16'>
  <h1 class='line-clamp-h1 text-center font-semibold leading-20'>
    Prozkoumejte naši exkluzivní nabídku nemovitostí
  </h1>
  <p class='my-8 text-[var(--gray)] text-center max-w-xl'>
    Prohlédněte si pečlivě vybrané byty a domy podle vašich představ. Najděte
    vysněné bydlení, investici nebo pronájem ještě dnes.
  </p>
</div>
